<header class="header">
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">
            <img src="./img/finallogo.png" width=auto height="32" class="d-inline-block align-top">
            <span id="decoration"> ResearchGrad </span>
        </a>
    </nav>
</header>